<div id="board">
    <div class="board-buttons">
        <button id="backspace-button"><i class="fa-solid fa-backspace" style="font-size: 25px;"></i></button>
        <button id="delete-button"><i class="fa-solid fa-trash" style="font-size: 25px;"></i></button>
    </div>
    <div id="board-cards">
        <button class="card-button">CARD</button>
    </div>
    <div class="board-buttons">
        <button id="board-access-button"><i class="fa-solid fa-pen-to-square" style="font-size: 25px;"></i></button>
        <button id="play-button"><i class="fa-solid fa-play" style="font-size: 25px;"></i></button>
    </div>
</div>
