<div class="category-container">
    <select name="categoria" id="category-selector">
        <option>Categoria 1</option>
        <option value="Categoria 2">Categoria 2</option>
    </select>
    <h3 style="text-align: center; font-size: 30px;">Botões</h3>
</div>
<div id="button-container">
    <button class="buttons" 
            th:each="button : ${buttons}" 
            th:id="'button-' + ${button.id}">
        <img th:src="${button.image}"
            th:alt="${button.name}" 
            style="width: 20px; height: 20px;">
        <span th:text="${button.name}"></span>
    </button>
</div>
