<!DOCTYPE html>
<html lang="pt-br" 
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" th:ref="@{/styles/style.css}">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="https://kit.fontawesome.com/3c130d0950.js" crossorigin="anonymous"></script>
    <title>Matraka</title>
</head>
<body>
    <header>
        <button type="button" id="menu-button" class="rippleBtn fa-solid fa-bars btn"></button>
        <h1 style="font-size: 5vh;">MATRACA</h1>
        <button type="button" id="login-button" class="rippleBtn fa-solid fa-user btn"></button>
    </header>
    <div id="board">
        <div class="board-buttons">
            <button type="button" id="backspace-button" class="rippleBtn btn fa-solid fa-backspace"></button>
            <button type="button" id="delete-button" class="rippleBtn btn fa-solid fa-trash"></button>
        </div>
        <div id="board-cards">
        </div>
        <div class="board-buttons">
            <button type="button" id="play-button" class="rippleBtn btn fa-solid fa-play"></button>
        </div>
    </div>

    <!-- AREA DOS BOTOES -->
    <div class="tools-tab">
        <select name="categoria" class="category-selector" id="category-selector">
            <option value="tudo">Tudo</option>
            <option 
            th:each="category : ${categories}" 
            th:value="'btn-category-' + ${category.id}" 
            th:text="${category.name}"></option>
        </select>
        <div id="search-bar">
            <div id="btn-search" class="fa-solid fa-search"></div>
            <input type="text">
            <button type="button" id="del-search" class="fa-solid fa-close"></button>
        </div>
        <label class="switch">
            <input type="checkbox" name="editar" id="edit-switch">
            <span class="btn-switch fa-solid fa-pen-to-square"></span>
        </label>
    </div>
    <div class="switch-tab">
        <label>
        <input type="radio" name="tab-select" value="botoes" checked><div id="tab-button">Botões</div>
        </label>
        <label>
        <input type="radio" name="tab-select" value="pranchas"><div id="tab-board">Pranchas</div>
        </label>
    </div>

    <div id="content">
        <div id="main-buttons" class="button-content">
            <div type="button" class="btn rippleBtn" id="add-button">
                    <img src="https://cdn-icons-png.flaticon.com/512/1264/1264564.png"
                    alt="+">
            </div>
            <div th:class="'buttons btn-category-' + ${button.category.id} + (${button.isVisible} ? '' : ' invisible')"
                th:each="button : ${buttons}" 
                th:id="${button.id}"
                th:styleappend="'order:' + ${button.position} + '; '"
                >
                <div class="btn-content rippleBtn">
                    <img th:src="${button.image}"
                    th:alt="${button.name}" draggable="false">
                    <div>
                        <span th:text="${button.name}"></span>
                    </div>
                </div>
                <div class="card-options">
                    <button type="button" class="btn edit-card-btn fa-solid fa-pen-to-square"></button>
                    <label class="btn show-card-btn">
                        <input type="checkbox" style="opacity: 0; position: absolute; cursor: pointer;" th:checked="${button.visible}">
                        <span class="fa-solid fa-eye"></span>
                    </label>
                    <button type="button" th:onclick="deletar(${button.id})" class="btn del-card-btn fa-solid fa-trash"></button>
                </div>
            </div>
        </div>
        <div id="main-boards" class="board-content">
            <button class="boards" th:each="board : ${boards}" 
            th:id="'board-' + ${board.id}">
                <div>
                    <div class="buttons" th:each="boardBtn : ${board.button}">
                        <img th:src="${boardBtn.image}"
                        th:alt="${boardBtn.name}">
                        <div>
                            <span th:text="${boardBtn.name}"></span>
                        </div>
                    </div>
                </div>
                <span th:text="${board.name}"></span>
            </button>
        </div>
    </div> 
    <!-- MENU -->
    <div id="menu" class="background-window" style="display: none;">
        <div class="window">
            <div class="window-title">
                <h3 class="">Menu</h3>
                <button type="button" class="fa-solid fa-close close-button"></button>
            </div>
            <div class="menu-option">
                <a href="">Botões</a>
                <a href="">Pranchas</a>
                <a href="">Categorias</a>
                <a href="">Configurações</a>
                <a href="">Sair</a>
            </div>
        </div>
    </div>

    <div class="background-window" style="display: flex;">
        <div id="form-button-edit">
            <div class="button-edit">
                <div class="btn-content rippleBtn">
                    <img th:src="button.image"
                    th:alt="button.name" draggable="false">
                    <div>
                        <input th:value="button.name"></input>
                    </div>
                </div>
            </div>
            <select name="categoria" class="category-selector" id="category-edit">
                <option>ALGUM</option>
                <option
                th:each="category : ${categories}"
                th:value="'btn-category-' + ${category.id}" 
                th:text="${category.name}"></option>
            </select>
            <div id="sound-edit">
                <button class="fa-solid fa-microphone btn" id="record-sound-btn"></button>
                <span>Grave ou Selecione</span>
                <button class="fa-solid fa-paperclip btn" id="select-sound-btn"></button>
            </div>
            <div style="display: flex;">
                <button class="btn" id="discard-btn"></button>
                <button class="btn" id="save-btn"></button>
            </div>
        </div>
    </div>

    <!-- <div id="button-container" class="background-window" style="display: none;">
        <div class="window">
            <div class="window-title">
                <h3>Botões</h3>
                <button type="button" class="fa-solid fa-close close-button"></button>
            </div>
            <div class="button-content">
                <button type="button" class="fa-solid fa-plus buttons" style="font-size: 7vw;"></button>
                <button type="button" class="buttons" 
                        th:each="button : ${buttons}" 
                        th:id="'button-' + ${button.id}">
                    <img th:src="${button.image}"
                        th:alt="${button.name}"
                        style="width: 20px; height: 20px;">
                    <span th:text="${button.name}"></span>
                </button>
            </div>
        </div>
    </div> -->

    <!-- <div id="button-container-edit" class="background-window" style="display: none;">
        <div class="window">
            <div class="window-title">
                <button type="button" id="back-button" class="window-button fa-solid fa-backspace"></button>
                <h3>Editar</h3>
                <button type="button" class="close-button fa-solid fa-close "></button>
            </div>
            <form action="" method="POST" id="form-button-edit">
                <label for="name">Nome</label>
                    <div>
                        <input type="text" th:value="${button.name}" name="nome" id="name"/>
                    </div>
                <label for="imageUrl">Imagem</label>
                <div>
                    <input th:if="!${button.image}" type="text" th:value="${button.image}" value="" name="imageUrl" id="imageUrl"/>
                    <label for="imageFile" class="button-file">...</label>
                    <input th:if="!${button.image}" type="file" th:value="${button.image}" name="imageFile" id="imageFile" style="display: none;"/>
                    <img th:if="${button.image}" th:src="${button.image}" alt="Imagem" style="max-width: 300px; display: none;">
                </div>
                <label for="soundUrl">Som</label>
                <div>
                    <input type="text" th:value="${button.sound}" name="soundUrl" id="soundUrl"/>
                    <label for="soundFile" class="button-file">...</label>
                    <input type="file" th:value="${button.sound}" name="soundFile" id="soundFile" style="display: none;"/>
                </div>
                <label for="category-edit">Categoria</label>
                <div>
                    <select name="category" id="category-edit" value="${button.category}">
                        <option th:each="category : ${categories}" th:value="${category}"><span th:text="${category}"></span></option>
                    </select>
                </div>
                <div style="background-color: white;">
                    <button class="fa-solid fa-save" type="submit"></button>
                    <button class="fa-solid fa-trash"></button>
                </div>
            </form>
        </div>
    </div> -->
</body>
<script src="../static/js/script.js"></script>
<script src="/js/script.js" th:src="@{/js/script.js}"></script>
</html>