<!DOCTYPE html>
<html lang="pt-br" 
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" th:ref="@{/styles/style.css}">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="https://kit.fontawesome.com/3c130d0950.js" crossorigin="anonymous"></script>
    <title>Matraka</title>
</head>
<body>

    <header>
        <div class="top-bar">
            <button id="menu-button" class="fa-solid fa-bars" style="font-size: 25px;"></button>
            <h1 style="font-size: 30px;">MATRACA</h1>
        </div>
        <div id="board">
            <div class="board-buttons">
                <button id="backspace-button"><i class="fa-solid fa-backspace" style="font-size: 25px;"></i></button>
                <button id="delete-button"><i class="fa-solid fa-trash" style="font-size: 25px;"></i></button>
            </div>
            <div class="board-cards">
                <button class="card-button">CARD</button>
            </div>
            <div class="board-buttons">
                <button id="board-access-button"><i class="fa-solid fa-pen-to-square" style="font-size: 25px;"></i></button>
                <button id="play-button"><i class="fa-solid fa-play" style="font-size: 25px;"></i></button>
            </div>
        </div>
    </header>

    <h3 style="text-align: center; font-size: 30px;">Botões</h3>
    <div id="button-container">
        <button class="buttons" th:each="button : ${buttons}" th:id="${button.name}" th:text="${button.name}"></button>
    </div>
</body>
<script src="../static/js/script.js"></script>
<script src="/js/script.js" th:src="@{/js/script.js}"></script>
</html>