*{
    font-size: small;
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    height: 100%;
    /* Fire Fox */
    scrollbar-width: thin; /* Barra de rolagem fina */
    scrollbar-color: #888 #f1f1f1; /* Cor do botão e da pista */
}


/* WebKit (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
    width: 8px;  /* Barra de rolagem fina */
    height: 8px; /* Barra de rolagem horizontal fina */
}
  
body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor da pista */
}
  
body::-webkit-scrollbar-thumb {
    background: #888; /* Cor do botão de rolagem */
    border-radius: 10px; /* Cantos arredondados */
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do botão ao passar o mouse */
}

header{
    display: flex;
    flex-direction: column;
    position: sticky;
    top:0;
    width: 100%;
    height: 15vw;
}

#menu-button{
    height: auto;
    aspect-ratio: 1/1;
    width: 13vw;
    font-size: 7vw;
    border-radius: 20%;
    position: absolute;
    border:#f1f1f1;
    left: 5px;
    top: 4px;
}

.top-bar{
    height: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    position: relative;
}


/* BOARD */
#board{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    gap: 5px;
    padding: 5px;
    flex: 1, 0;
    width: 100%;
    height: 40vw;
    background-color: cornflowerblue;
}

#board-cards{
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    height: 100%;
    padding: 3px;
    gap: 3px;
}

#board-cards button{
    border-radius: 10%;
    border: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.board-buttons{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 9vw;
}

.board-buttons button{
    border-radius: 30%;
    border: #ffffff;
    width: auto;
    aspect-ratio: 1/1;
    height: 13vw;
    font-size: 7vw;
    justify-content: center;
    align-items: center;
}

/* FIM BOARD */

.buttons, #button-container div div:last-child button{
    flex: 0 1 calc(33.33% - 6px); /* 3 itens por linha */
    margin: 3px;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    border-radius: 10%;
    border: white;
    aspect-ratio: 1 / 1;
}

#button-content, .content-window div div{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Itens alinhados à esquerda */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    overflow-y: auto;
    height: auto;
    width: 100%;
    padding: 5px;
    flex-shrink: 1;
}


#button-container div div:last-child button{
    flex: 0 1 calc(25% - 6px)
}

.content-window div{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    position: relative;
    top: 20;
    left: 20;
    border-radius: 5%;
    background-color: white;
    padding: 10px;
}

.category-container{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#category-selector{
    position: absolute;
    left: 0;
    height: auto;
    width: 35vw;
    aspect-ratio: 4.3/1;
    margin: 3px;
    text-align: center;
    font-size: 5vw;
    flex: 1;
    
}

#menu-container, .content-window{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease; /* Transição suave na opacidade */
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    justify-content: center;
    align-items: center;
}

#menu-container div{
    display: flex;
    background-color: white;
    position: fixed;
    left: 0;
    height: 100%;
    width: 50vw;
    border-radius: 5%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#close-button{
    display: flex;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 6vw;
    right: 10px;
    background-color: white;
    border: white;
}

#menu-container div div{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 30px;
    flex-grow: 1;
}

#menu-container div div a{
    float: left;
    font-size: 7vw;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(59, 59, 59);
    transition: background-color 0;
}

#menu-container div div a:hover {
    display: flex;
    color: #ffffff;
    background-color: #888;
    width: 100%;
    justify-content: center;
    border-radius: 5%;
}

#menu-container div #top-menu{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    width: 100%;
    height: 10vw;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#form-button-edit{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

#form-button-edit > label{
    font-size: 5vw;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

#form-button-edit div{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 90vw;
    width: 100%;
    background-color: #555;
}

#form-button-edit input, select{
    display: flex;
    position: relative;
    flex-grow: 1;
    border-radius: 10px;
}

.button-file{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 10%;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border-radius: 10px;
    font-size: 6vw;
}