/* WebKit (Chrome, Safari, Edge) */
body::-webkit-scrollbar {
    width: 8px;  /* Barra de rolagem fina */
    height: 8px; /* Barra de rolagem horizontal fina */
}
  
body::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor da pista */
}
  
body::-webkit-scrollbar-thumb {
    background: #888; /* Cor do botão de rolagem */
    border-radius: 10px; /* Cantos arredondados */
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do botão ao passar o mouse */
}

*{
    font-size: small;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, header{
    display: flex;
    position: relative;
    width: 100vw;
    border:transparent;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

body{
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    scrollbar-width: thin; /* Barra de rolagem fina */
    scrollbar-color: #888 #f1f1f1; /* Cor do botão e da pista */
}

header{
    flex-direction: row;
    position: sticky;
    padding: 1.5%;
    top:0;
    height: 7vh;
    background-color: cornflowerblue;
}

.btn, .buttons, .button-edit, #add-button{
    display: flex;
    position: relative;
    width: 6.5vh;
    border: transparent;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    border-width: 0;
    
    font-size: 4vh;
    height: auto;
    aspect-ratio: 1/1;
    flex-wrap: nowrap;
    border-radius: 3.5vh;
    margin: 0.5vh 0.5vw;
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px;
    transition: filter 0.3s ease;
}

.buttons, .button-edit, #add-button{
    display: flex;
    flex: 0 1 clamp(80px, calc(33.3% - 2vh), 130px);
    margin: clamp(5px, 1vh, 10px);
    border-radius: 20px;
    aspect-ratio: 1 / 1.25;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f0f0f0;
}

#add-button{
    display: none;
    border: 0.5vh outset cornflowerblue;
}

#add-button img{
    padding: 40%;
}

.card-options{
    display: none;
    width: 100%;
    position: absolute;
    flex-direction: row;
}

.btn-content{
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    transition: filter 0.3s ease;
}

.del-card-btn, .show-card-btn, .edit-card-btn{
    display: block;
    color: rgba(0, 0, 0, 0.651);
    background-color: rgb(240, 240, 240);
    margin: 1%;
    text-align: center;
    align-content: center;
    font-size: 120%;
}

.card-button{
    width: auto;
    height: 100%;
    flex: 0 0 auto;
    margin: 0;
    aspect-ratio: 1 / 1.25;
}

.btn-content span, .card-button span{
    font-size: clamp(5px, 2vh, 30px);
    font-weight: 600;
    overflow: visible;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
}

.btn-content div:last-child, .card-button div:last-child{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}


.btn-content img, .card-button img{
    flex-shrink: 0;
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
}

#menu-button, #login-button{
    margin: 0;
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    position: absolute;
    background-color: cornflowerblue;
    border: transparent;
    box-shadow: 0px 0px 0px 0px;
}

#menu-button{
    left: 0.5vw;
    top: 0.2vh;
}

#login-button{
    right: 0.5vw;
    top: 0.2vh;
}

/* BOARD */
#board{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    position: sticky;
    padding: 1vh 0.5vh;
    flex: 0;
    flex-shrink: 0;
    width: 100vw;
    height: 20vh;
    /* height: 40vw; */
    background-color: cornflowerblue;
}

#board-cards{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    height: 98%;
    width: 100%;
    gap: 1vw;
    flex-grow: 1;
    flex-shrink: 1;
    scrollbar-width: none;
}

#board-cards::-webkit-scrollbar{
    display: none; /* Esconde a barra de rolagem */
}

.board-buttons{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 4vh;
}

/* FIM BOARD */

#btn-botoes, #btn-pranchas{
    display: flex;
    position: relative;
    border:transparent;
    background-color: transparent;
}

.tools-tab{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: 7vh;
    background-color: transparent;
    justify-content: space-between;
    padding: 0.5vh 1vw;
    flex: 0;
}

.button-content{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /* Itens alinhados à esquerda */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    overflow-y: auto;
    height: auto;
    width: 100vw;
    flex-shrink: 1;
    scrollbar-width: none;
}

.board-content{
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: flex-start; /* Itens alinhados à esquerda */
    flex-wrap: nowrap; /* Permite que os itens quebrem para a próxima linha */
    overflow-y: auto;
    height: auto;
    width: 100vw;
    padding: 1vw;
    flex-shrink: 1;
    scrollbar-width: none;
}

.boards{
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 1vw;
    gap: 1.5vw;
    border-radius: 6vw;
    border: transparent;
    box-shadow: 0px 1px 3px 0px;
}

.boards div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

.boards span{
    font-size: 3.5vw;
    text-wrap: wrap;
    width: 100%;
}

.boards div div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    border-radius: 4vw;
    flex-shrink: 1;
    flex-basis: calc(20% - 2vw);
}

.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.button-content::-webkit-scrollbar{
    display: none;
}

.category-selector, #search-bar, #search-bar input{
    display: flex;
    position: relative;
    height: 100%;
    width: 50vh;
    margin: 0.3vh;
    border-radius: 30px;
    text-align: center;
    font-size: 2.5vh;
    font-weight: 600;
    flex-grow: 0;
    flex-shrink: 1;
    border: transparent;
    background-color: #f1f1f1;
    flex-direction: row;
    outline: none;
}

#btn-search, #del-search{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    border: transparent;
    border-radius: 30px;
    font-size: 2.5vh;
    height: 100%;
    width: auto;
    flex-grow: 1;
}

#btn-search{
    left: 1vw;
}

#del-search{
    display: none;
    right: 1vw;
}

#search-bar input{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 1vw;
    text-align: start;
    background-color: transparent;
    border: transparent;
    margin: 0;
}

.switch-tab{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 3vh;
    margin: 1vh;
}

.switch-tab input{
    display: none;
}

.switch-tab div{
    font-size: 3vh;
    transition: 0.3s;
    cursor: pointer;
}

.switch-tab label{
    flex: 1;
    text-align: center;
}

#tab-button{
    transform: translateX(-10%);
}

#tab-board{
    transform: translateX(10%);
}

.switch-tab input:checked + #tab-button{
    transform: translateX(50%);
}

.switch-tab input:checked + #tab-board{
    transform: translateX(-50%);
}

.switch-tab input:checked + div{
    font-size: 5vh;
    color: #2196F3;
    text-decoration: underline #2196F3 2px;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
}

 /* Estilo do botão de liga/desliga (on/off) */
 .switch {
    position: relative;
    display: inline-block;
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
  }

  .switch input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  .btn-switch {
    display: block;
    text-align: center;
    align-content: center;
    font-size: 2.5vh;
    position: relative;
    cursor: pointer;
    height: 100%;
    width: auto;
    aspect-ratio: 1;
    background-color:#f1f1f1;
    border: transparent;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .btn-switch {
    background-color: #2196F3;
  }

  /* FIM BOTAO ON-OFF */

.background-window{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease; /* Transição suave na opacidade */
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    justify-content: center;
    align-items: center;
}

.window .buttons{
    flex: 0 1 calc(25% - 6px);
}

.window{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80vh;
    position: relative;
    top: 20;
    left: 20;
    border-radius: 30px;
    background-color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.window-title{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    overflow-y: visible;
}

.window-title h3{
    font-size: clamp(20px, 8vw, 50px);
}

.window-button, .close-button{
    display: flex;
    border-radius: 20%;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: clamp(15px, 6vw, 30px);
    right: 10px;
    background-color: transparent;
    border: transparent;
}

#back-button{
    left: 10px;
}

.menu-option{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#menu-container div div{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    bottom: 30px;
    flex-grow: 1;
}

.menu-option a{
    float: left;
    font-size: clamp(20px, 7vw, 40px);
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(59, 59, 59);
    transition: background-color 0;
}

#menu-container div div a:hover {
    display: flex;
    color: #ffffff;
    background-color: #888;
    width: 100%;
    justify-content: center;
    border-radius: 5%;
}

#form-button-edit{
    display: flex;
    position: relative;
    top: -5vh;
    flex-direction: column;
    flex-grow: 0;
    justify-content: center;
    height: 100vh;
    background-color: #2196F3;
    width: 40vh;
    gap: 1.5vh;
}

.button-file{
    display: flex;
    position: relative;
    right: 2px;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 3px;
    aspect-ratio: 1/1;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: clamp(10px, 6vw, 30px);
}

.btn-content:hover, .btn:hover, .card-button:hover{
    filter: brightness(1.05); /* Aumenta o brilho, tornando a cor mais clara */
}

/* Ripple Effect (ondulação) */

#play-button{
    background-color: #2196F3;
}

#delete-button, #backspace-button{
    background-color: rgb(252, 102, 102);
}

.ripple {
    position: absolute;
    border-radius: 50%;
    background: white;
    width: 20px;
    height: 20px;
    animation: ripple-effect 0.6s linear;
    transform: scale(0); /* Começa pequeno */
    pointer-events: none; /* Não interferir em outros eventos de clique */
    opacity: 0.7;
}

.button-edit{
    display: flex;
    width: 100%;
    aspect-ratio: 1/1.25;
    flex-shrink: 0;
    margin: 0;
    font-size: 4vh;
}

#category-edit{
    height: 5vh;
    width: 100%;
    margin: 0;
}

#sound-edit{
    display: flex;
    position: relative;
    height: 7vh;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}

#record-sound-btn, #select-sound-btn{
    position: absolute;
    margin: 0;
    height: 120%;
    border-radius: 50%;
    width: auto;
}

#save-btn, #discard-btn{
 position: absolute;
}

#record-sound-btn, #discard-btn{
    left: 0;
}

#select-sound-btn, #save-btn{
    right: 0;
}

.invisible{
    background-color: rgba(240,240,240,0.3);
    border: 0.5vh outset rgba(100,149,237,0.3);
}

.invisible div:first-child{
    opacity: 0.3;
}

.invisible .show-card-btn{
    background-color: #2196F3;
}

.dragging{
    opacity: 0;
}

.buttons.moveright{
    animation: moveright 0.5s ease forwards;
}

.buttons.moveleft{
    animation: moveleft 0.5s ease forwards;
}

@keyframes moveleft{
    0%{
        transform: translateX(-160px);
    }
    
    100%{
        transform: translateX(0px);
    }
}

@keyframes moveright{
    0%{
        transform: translateX(160px);
    }
    
    100%{
        transform: translateX(0px);
    }
}


@keyframes ripple-effect {
    to {
      transform: scale(15); /* Aumenta até cobrir toda a área */
      opacity: 0; /* Desaparece gradualmente */
    }
  }